body{
    background-color: #62c2c8;
  
}

.App{
  background-color: lightgray;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed{
  text-decoration: line-through 2px red;
  background-color: lightblue;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

.add{
  margin-top: 5px;
  background: rgb(3, 148, 3);
  
}

.delete{
  margin-top: 5px;
  background: rgb(218, 3, 3);
  margin-bottom: 5px;


}
.btn{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  width: 70%;
}

input{
  flex: 1;
  background-color: lightgray;;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  border-color: #069faa 5px;

}
img{
  border-radius: 50%;
}